article {
    min-width: min(640px, 100%);
    width: 1920px;
    max-width: 75%;
    height: 100%;

    min-height: calc(100vh - 60px);

    position: relative;
    left: 50%; transform: translateX(-50%);

    background-color: var(--gray2);
}

article .content {
    width: auto;
    padding: 10px 20px;
    position: relative;
}

article h1 {
    width: 100%;
    text-align: center;
    font-size: 36px;
}
article hr {
    margin: 10px 0;
    border: 1px solid var(--gray4);
}
article p,
article img {
    margin: 5px 0;
}

article .content > * {
    max-width: 100%;
}