* {
    margin: 0;
    padding: 0;
    color: white;
    
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
html {
  scroll-behavior: smooth;
}
:root {
    --gray1: #111214;
    --gray2: #16181a;
    --gray3: #1d1f21;
    --gray4: #363b3f;
}
body {
    background-color: var(--gray1);
}

.margin {
    min-width: min(640px, 100%);
    width: 1920px;
    max-width: 75%;
    height: 100%;

    position: relative;
    left: 50%; transform: translateX(-50%);
}